
// ЗЕЛЕНЫЙ
$primary-200: #cad2c5;
$primary-300: #233232;
$primary-900: #1E293B;
$primary-700: #3B4252;
$accent-500: #14B8A6;
$background-100: #F1F5F9;
$text-dark: #475569;
$text-light: #E2E8F0;

// $primary-700: #4a4e69;
// $primary-900: #22223b;