@import "@/styles/globals";

.container {
    max-width: 100%;
    margin: auto;
    outline: 1px solid black;
    height: 100dvh;
    background-color: $primary-900;
    overflow: hidden;
    position: relative;


    .main_window.hide {
        display: none;
    }

    .history-window {
        height: 100%;
    }
}
